# Ignore virtual environment
*.venv/
*venv/
*admin/
*staticfiles/
*media/
# Ignore environment file and folder
.env
*.pyc
__pycache__/
# Ignore Python bytecode files and cache directories
**/__pycache__/
*.py[cod]
*.pyc[cod]