{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block content %}
<div class="container h-100">
    <div class="row h-100 justify-content-center align-items-center">
        <div class="col-md-6">
            <div>
                <div class="card-body">
                    <h3 class="card-title text-center">Login</h3>
                    <form method="post">
                        {% csrf_token %}
                        {{ form|crispy }}
                        <div class="d-flex justify-content-start align-items-center">
                            <button type="submit" class="btn btn-primary btn-lg me-2">Login</button>
                            <a href="{% url 'user:register' %}" class="btn btn-secondary btn-lg me-auto">Sign up</a>
                            <a href="{% url 'user:password_reset' %}" class="btn btn-link">Forgot Password?</a>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}