{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% load static %}
{% block title %}Update Profile{% endblock %}

{% block content %}
<div class="d-flex justify-content-center">
    <div class="col-md-6">
        <form method="post" enctype="multipart/form-data">
            <h2>Update Profile</h2>
            {% csrf_token %}
            {{ form|crispy }}
            <div class="d-flex justify-content-between align-items-center">
                <button type="submit" class="btn btn-success">Update Profile</button>
                <a href="{% url 'user:password_change' %}">Change Password</a>
            </div>
        </form>
    </div>
    <div class="col-md-4 d-flex justify-content-center align-items-center">
        <img id="avatarPreview" src="{% if user.avatar %}{{ user.avatar.url }}{% else %}{% static 'default-avatar.png' %}{% endif %}" class="img-thumbnail rounded-circle" style="width: 150px; height: 150px;">
    </div>
</div>


<script>
    document.getElementById('id_avatar').addEventListener('change', function(event) {
        const file = event.target.files[0];
        if (file) {
            const reader = new FileReader();
            reader.onload = function(e) {
                const img = new Image();
                img.src = e.target.result;
                img.onload = function() {
                    const canvas = document.createElement('canvas');
                    const ctx = canvas.getContext('2d');
                    const size = 150; // Desired size
                    canvas.width = size;
                    canvas.height = size;

                    // Calculate the center crop dimensions
                    const cropSize = Math.min(img.width, img.height);
                    const cropX = (img.width - cropSize) / 2;
                    const cropY = (img.height - cropSize) / 2;

                    // Draw the cropped image on the canvas
                    ctx.drawImage(img, cropX, cropY, cropSize, cropSize, 0, 0, size, size);

                    // Update the preview
                    document.getElementById('avatarPreview').src = canvas.toDataURL();
                }
            }
            reader.readAsDataURL(file);
        }
    });
</script>
{% endblock %}