:root {
    --valid-bg: #28a745;
    --valid-color: #ffffff;
    --invalid-bg: #dc3545;
    --invalid-color: #ffffff;
    --background-color: #f8f9fa;
    --text-color: #343a40;
    --table-bg: #ffffff;
    --table-striped-bg: #f2f2f2;
    --navbar-dark-background-color: #333;
}

body {
    background-color: var(--background-color);
    color: var(--text-color);
    margin: 20px;
}

.badge-success {
    background-color: var(--valid-bg);
    color: var(--valid-color);
}

.badge-danger {
    background-color: var(--invalid-bg);
    color: var(--invalid-color);
}

h1 {
    font-size: 2.5rem;
    color: var(--text-color);
}

#stopButton {
    width: fit-content;
}

.alert-info {
    font-size: 1.25rem;
}

.imgthumbnail {
    border-radius: 50%;
    width: 34px;
    height: 34px;
    object-fit: cover;
    margin-right: 10px;
    padding: 0;
}

/* Dark mode variables */
body.dark-mode {
    --valid-bg: #155724;
    --valid-color: #d4edda;
    --invalid-bg: #721c24;
    --invalid-color: #f8d7da;
    --background-color:  #2b2c2e;
    --text-color: #f8f9fa;
    --table-bg: #454d55;
    --table-striped-bg: #3a3f44;
}

body.dark-mode {
    background-color: var(--background-color);
    color: var(--text-color);
}

body.dark-mode .badge-success {
    background-color: var(--valid-bg);
    color: var(--valid-color);
}

body.dark-mode .badge-danger {
    background-color: var(--invalid-bg);
    color: var(--invalid-color);
}

body.dark-mode h1 {
    color: var(--text-color);
}

body.dark-mode .text-muted {
    color: var(--text-color) !important;
}

body.dark-mode .alert-info {
    background-color: #17a2b8;
    color: var(--text-color);
}

body.dark-mode .table {
    background-color: var(--table-bg);
}

body.dark-mode .table-striped tbody tr:nth-of-type(odd) {
    background-color: var(--table-striped-bg);
    
}

body.dark-mode .table-striped tbody tr td, body.dark-mode .table-striped thead tr th {
    color: var(--text-color);
}

body.dark-mode .form-text{
    color: var(--text-color);
}

body.dark-mode .container-fluid {
    color: var(--text-color);
}

body.dark-mode .navbar-light {
    background-color: var(--navbar-dark-background-color) !important;
}

body.dark-mode .navbar-light .navbar-nav .nav-link {
    color: var(--text-color);
}

body.dark-mode .navbar-light .navbar-brand {
    color: var(--text-color);
}

body.dark-mode .table {
    color: var(--text-color);
}

body.dark-mode .table thead th {
    color: var(--text-color);
}

body.dark-mode .table tbody td {
    color: var(--text-color);
}

body.dark-mode .table .badge {
    color: var(--text-color);
}

/* Default modal styles */
.modal-content {
    background-color: #fff;
    color: #000;
}

/* Dark mode modal styles */
.modal-content.dark-mode {
    background-color: #2B2C2E;
    color: #fff;
}