{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block title %}Review Submissions{% endblock %}

{% block content %}
<h2>Review Word Submissions</h2>
<table class="table table-striped">
    <thead>
        <tr>
            <th>Player</th>
            <th>Category</th>
            <th>Word</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        {% for submission in submissions %}
            <tr>
                <td>{{ submission.player.username }}</td>
                <td>{{ submission.category.name }}</td>
                <td>{{ submission.word }}</td>
                <td>
                    <div class="d-flex align-items-center">
                        <!-- Reject Form -->
                        <form method="post" action="{% url 'communication:reject_submission' submission.id %}" class="d-flex align-items-left">
                            {% csrf_token %}
                            <input type="text" name="feedback" placeholder="Reason for rejection" class="form-control me-4">
                            <button type="submit" class="btn btn-danger me-2">Reject</button>
                        </form>
                        <!-- Approve Button -->
                        <a href="{% url 'communication:approve_submission' submission.id %}" class="btn btn-success me-2">Approve</a>
                    </div>
                </td>
                
            </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}
